* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style-type: none !important;
}

.nav {
    width: 300px;
    padding: 10px 0;
    a {
        margin-left: 20px;
        padding: 4px;
        border-radius: 4px;
        text-align: center;
        &:hover {
            background-color: #cccccc;
        }
        &.active {
            color: #ffffff;
            background-color: #0511b6;
        }
    }
}
.img {
    max-width: 600px;
    max-height: 600px;
    overflow: hidden;
    img {
        width: 100%;
        cursor: pointer;
    }
}
